.font-weight700{
    font-weight: 700;
}

.letter-spacing-1{
    letter-spacing: -1px;
}

.padding20{
    padding: 20px;
}

.aparence-buttom{
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}
