body{
    background-color: #fafafa;
}

.font-size12{
    font-size: 12px;
}

.font-size14{
    font-size: 14px;
}

.font-weight700{
    font-weight: 700;
}

.letter-spacing-1{
    letter-spacing: -1px;
}

.padding20{
    padding: 20px;
}

.aparence-buttom{
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.margin40{
    margin: 40px;
}

.margin-top180{
    margin-top: 180px;
}

#btn_add{position: fixed; float: right; margin-left: 80%; bottom: 30px; z-index: 0;}
